.agent-icon {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 69, 69, 0.9);

    border-color: rgb(144, 135, 135);
    border-width: 2px;
    border-style: solid;

}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}